<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Asreaper Deneme</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="logontext">
            <img class="logo" src=" https://cdn.discordapp.com/avatars/664146094183284776/a_d5c6b0241107551ebf4231ede627f6d3.gif?size=256" alt="">
            <h1 class="text">Asreaper</h1>
        </div>
        <div class="button-group">
            <a href="https://discord.gg/sNyUJ2cW" class="btn">Katıl</a>
            <a href="https://discord.com/oauth2/authorize?client_id=836515556642258985&scope=bot&permissions=8" class="btn">Davet Et</a>
        </div>
    </header>
    
    <div class="first"  align="center">
        <h2>Asreaper</h2>
        <p class="desc">Asreaper Ekonomi Botu | Asreaper Youtube Kanalında Paylaşılmıştır!</p>
        <img class = "desc-logo" src="?size=256" alt="">
    </div>
    
    
    
    
    <footer class="footer"><p><i class="fa fa-heart"></i> Asreaper#0001</p></footer>
    
</body>

</html>
